body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
}
header{
    background-color: #333;
    padding: 30px;
}
h1 {
    font-weight: 700;
    color: #fff;
}
.skip-link {
    color: #fff;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    background: #333;
    padding: 10px 100px;
    font-size: 20px;
    font-weight: 600;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

.nav-menu a:hover {
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}